celery==4.3.0
Django==1.11.29
django-async-include==0.5.1
django-celery
django-celery-results
django-debug-toolbar==1.8
django-picklefield==1.0.0
django-silk==1.0.0
numpy
stravalib==0.10.2
DateTime==4.2
redis==3.2.1
spotipy==2.4.4
