body {
	padding-top: 56px;
}

.btn-margin-left {
    margin-left: 5px;
}
.btn-margin-right {
    margin-right: 5px;
}

.background_image_top {
  background:url('/static/running_cycling.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
}

.site-wrapper {
  text-align: center;
  display: table;
  width: 100%;
  height: 700px;
  -webkit-box-shadow: inset 0 0 0rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 0rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */

  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}
