{% extends "base.html" %}
{% block content %}
<div class="container top-box-padding">
	<ul class="list-group">    
		<li class="list-group-item">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h4>What is PowerSong?</h4>
						<p>Do you that song that gets you running a little faster every time it goes on your playlist? Have you ever wanted to apply statistics to check whether this effect was consistent? Have you ever dreamed of a platform that enabled you to find which songs work for you, and use this information to build the perfect PR smasher playlist?</p> 
						<p>PowerSong started as a way for me to do just that. My initial idea was to find which songs made me run faster, my heart beat harder, and how consistent was this effect. This idea was expanded to extract detailed statistics out of this information, getting the same statistics for cycling and even relieve your activity songs using Spotify!</p>

						
						<h4>Main features</h4>
						<ul>
							<li>See your runs and rides divided by the songs you here listening, instead of boring 1 km laps;</li>
							<li>Get per-song information regarding your pace, average heart rate, average cadence...</li>
							<li>Check detailed aggregate results and see which songs consistently make you faster/heart pump harder;</li>
							<li>Visualize how your pace varies during each song, to find the most powerful moments of your favorite songs;</li>
							<li>Get detailed aggregate statistics to check which efforts/songs/artists you listed more often, make you accelerate;</li>
							<li>Remember your best activities by playing back the activity playlist.</li>
						</ul>
						<p>But enough talk, go <a href="/demo">here</a> for a full featured demo using real data</p>

						<h4>How does PowerSong work?</h4>
						<p>PowerSong works by combining the magic of Strava, last.fm and Spotify: this means that you just need to put on your running shoes, start playing your favorite running playlist and go for a run. When it is over, sync all your data to Strava and last.fm and you just need to press "Sync" on Powersong and have it do it's magic.</p>
						<p> (if you only have Spotify it is a <a href="#spotify_vs_lastfm">little bit more complicated than that)</a></p>
						
						<h4>First time users</h4>
						<p></p>

						<h3>Notation</h3>

						<h4>Scrobble, Effort, Δ/Diff. Avg HR, Flag efforts... what does this all mean?</h4>
						<ul>
							<li><strong>Scrobble:</strong> according to the Wiktionaty, to scrobble means "To publish one's music-listening habits to the Internet via software, in order to track when and how often certain songs are played.";</li>
							<li><strong>Effort:</strong> on PowerSong, an effort corresponds each time you play of one song during one activity;</li>
							<li><strong>Δ/Diff. Avg. Speed:</strong> it corresponds to the difference in pace between that effort and the average activity speed;</li>
							<li><strong>Δ/Diff. Last Speed:</strong> it corresponds to the difference in pace between that effort and the previous effort;</li>
							<li><strong>Δ/Diff. Avg. HR:</strong> it corresponds to the difference in heartrate between that effort and the activity average heart rate;</li>
							<li><strong>Δ/Diff. Last HR:</strong> it corresponds to the difference in heartrate between that effort and the last effort's heart rate;</li>

							<li><strong>Flag effort: </strong> effort will stop being counted for the top views;</li>
							<li><strong>Flag effort HR: </strong> effort HR metrics will stop being counted for the top views;</li>
							<li><strong>Flag activity: </strong> activity will stop being counted for the top views;</li>
							<li><strong>Flag activity HR: </strong> activity HR metrics will stop being counted for the top views;</li>
							<li><strong>Flag song: </strong> song will stop being counted for the top views;</li>
							<li><strong>Flag artist: </strong> artist will stop being counted for the top views;</li>
							
						</ul>



						<h3>Spotify and last.fm</h3>

						
						<h4 id="spotify_vs_lastfm">Why is last.fm preferred over Spotify for syncing?</h4>
						<p>Spotify's API only allows access to the <a href="https://developer.spotify.com/documentation/web-api/reference/player/get-recently-played/" target="_blank">user's most recent 50 tracks</a>. This means that if you use Spotify, <strong>you need to press Sync on PowerSong as soon as you finish your run/ride</strong>, to ensure that the songs you've heard during your activity are on the most recent list on Spotify. To get the best of both worlds, associate Spotify to last.fm, check the instructions <a href="https://support.spotify.com/is/using_spotify/app_integrations/scrobble-to-last-fm/" target="_blank">here</a>
						</p>

						<h4>My songs are not showing up on my activity.</h4>
						<p>I recommend you keep your device online, to ensure that the songs played are saved to Spotify and/or last.fm.</p>

						<h4>I use last.fm, what is the advantage of associating both accounts to PowerSong?</h4>
						<p>last.fm keeps a more consistent log of the songs played, but I've noticed that sometimes Spotify plays are not registered as scrobles on last.fm. if you have Spotify Premium, you can also replay your activity songs and find at what time on a song you go faster.</p>

						<h4>Songs do not play:</h4>
						<p>Unfortunately, this feature is only available to Spotify Premium users.</p>

						<h3>Miscellaneous</h3>

						<h4>I prefer metric/imperial units...</h4>
						<p>PowerSong uses your Stava preferences to select imperial or metric units.</p>

						<h4>Where can I find my running/cycling efforts?</h4>
						<p>You can alternative between running/cycling/all efforts by selecting the corresponding option on the top right of the website, next to the logo.</p> 


						<h4>Libraries used</h4>
						<p></p>

						<h4>I have another question or suggestions</h4>
						<p>Contact me at <a href="mailto:admin@powersong.run">admin@powersong.run</a></p> 
				</div>
			</div>
		</li>
	</ul>
</div>
{% endblock %}