{% extends "base.html" %}
{% block content %}

{% if spotify_token %}

<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
    var player = undefined
    var token = '{{ spotify_token }}';

    var spotify_ids = []
    var start_times = []
    {% for effort in top %}spotify_ids.push('spotify:track:{{ effort.song__original_song__spotify_id }}')
    start_times.push({{effort.start_time}})
    {% endfor %}

    window.onSpotifyWebPlaybackSDKReady = () => {
        createPlayer()
    }
</script>  
{% endif %}


  <script>
    //var color_base = ['002b36', '073642', '586e75', '657b83', '839496', '93a1a1', 'eee8d5', 'fdf6e3'];
    var color_base = ['ff0000', '00ff00'];

    var color = Chart.helpers.color;
    var scatterChartData = {
        datasets: [
            {% if True %}
            {% decode_all qs=top as data_times %}
            {% for data_time in data_times %}
            {
            label: '',
            backgroundColor: color('#'+ color_base[{{ forloop.counter0 }} % color_base.length]).alpha(1).rgbString(),
            borderColor: color('#'+ color_base[{{ forloop.counter0 }} % color_base.length]).alpha(1).rgbString(),
            showLine: true,
            pointRadius: 3,
            fill: false,
            data: [
                {% for data,time,time_on_song in data_time %}{x: {{ time }}, y: {{ data }}}, {% endfor %}
            ]
            },
            {% endfor %}
            {% endif %}
        ]
    };

    window.onload = function() {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myScatter = Chart.Scatter(ctx, {
            data: scatterChartData,
            options: {
                title: {
                    display: true,
                    text: 'Speed over Time'
                }, legend: {
                    display: false 
                }, scales: {
                    yAxes: [{
                        label: 'Speed (m/s)',
                        display: true
                    }],
                    xAxes: [{
                        label: 'Time in Activity (s)',
                        display: true,
                        ticks: {
                            max: {{ activity.elapsed_time }}
                        }
                    }]
                }, onClick: function(event, array) {
                    let element = this.getElementAtEvent(event);
                    if (element.length > 0) {
                        var index = element[0]._datasetIndex
                        var value = this.data.datasets[index].data[element[0]._index];
                        
                        position = (value.x - start_times[index]) * 1000
                        if (position < 0){
                          position = 0
                        }

                        if (spotify_ids[index] != "spotify:track:None"){
                          playlist = spotify_ids.slice(index)

                          var filtered = playlist.filter(function(value, index, arr){
                              return value != "spotify:track:None";
                          });

                          play({
                            playerInstance: player,
                            spotify_uri: filtered,
                            position: (position)
                          });

                        }
                        
                    }
                }
            }
        });
    };
</script>


  <div class="container top-box-padding">
    <ul class="list-group">    
      <li class="list-group-item">
        <div class="container">
            <div class="row">
            	<div class="col-md-4">
            		<a class="h4 mylead-link" href="https://www.strava.com/activities/{{ activity.activity_id}}/">{{ activity.name}}</a>
            		<p class="h5">{{ activity.start_date_local }}</p>
                {% get_symbols activity.workout_type activity.flagged activity.flagged_hr %}
            	</div>
                <div class="col-md-8">
                <div class="row">
                    <div class="col-6 col-md-4 text-right">
                		<span class="h4">{{ activity.avg_speed_pretty }} </span><span> {{ activity.avg_speed_pretty_units }} </span>
                        <p>speed</p>
                    </div>
                    <div class="col-6 col-md-4 text-right">
                        <span class="h4"> {{ activity.distance_pretty }} </span><span> {{ activity.distance_big_pretty_units }} </span>
                        <p>distance</p>
                    </div>
                    <div class="col-6 col-md-4 text-right">
                        <span class="h4"> {{ activity.moving_time_pretty }} </span>
                        <p>moving time</p>
                    </div>                    
            	</div>
                
                <div class="row">
                    <div class="col-6 col-md-4 text-right">
                    <span>{{ activity.elapsed_time_pretty }} </span>
                    <p>elap. time</p>
                    </div>
                    {% if activity.avg_hr %}
                    <div class="col-6 col-md-4 text-right">
                    <span>{{ activity.avg_hr }} </span><span> bpm</span>
                    <p>avg. HR</p>
                    </div>
                    {% endif %}
                    {% if activity.avg_watts %}
                    <div class="col-6 col-md-4 text-right">
                    <span>{{ activity.avg_watts }} </span><span> W</span>
                    <p>avg. power</p>
                    </div>
                    {% endif %}
                    {% if activity.avg_cadence %}
                    <div class="col-6 col-md-4 text-right">
                    <span>{{ activity.avg_cadence }} </span><span> spm</span>
                    <p>avg. cad</p>
                    </div>
                    {% endif %}
                    </div>

                
            </div>
        </div>
        {% if not demo %}
                    <div class="row">
                    <div class="col-10 text-left">
                        {% if spotify_token %}
                    <p>
                        <button onclick="player.togglePlay()" class="fa fa-play-circle"></button>
                        <span id="nowPlaying" style="overflow-x: hidden;">Initializing player</span>
                    </p>
                    {% endif %}
                    </div>
                    <div class="col-2 text-right">
                        
                    <div class="dropdown">
                      <button class="btn fa fa-cog" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <a href="https://www.last.fm/user/{{ listener.nickname }}/library?from={{ activity.start_date_local|date:'Y-m-d' }}&rangetype=1day" class="dropdown-item" type="button">See on last.fm</a>
                        <a href="/resync_last_fm/{{ activity.activity_id}}" class="dropdown-item" type="button">Resync last.fm</a>
                        <a href="/resync_spotify/{{ activity.activity_id}}" class="dropdown-item" type="button">Resync Spotify</a>
                        <button onclick="sendPost({{ activity.activity_id }},'flag_activity','flagged',!{{ activity.flagged|lower  }})" class="dropdown-item" type="button">{% if activity.flagged %}Unflag{% else %}Flag{% endif %} activity</button>

                        <button onclick="sendPost({{ activity.activity_id }},'flag_activity','flagged_hr',!{{ activity.flagged_hr|lower }})" class="dropdown-item" type="button">{% if activity.flagged_hr %}Unflag{% else %}Flag{% endif %} activity efforts HR</button>

                      </div>
                    </div>
                    </div>
                    </div>
                    {% endif %}
        <div class="row">
            <canvas id="canvas"></canvas>
        </div> 
      </div>
    </li>
    </ul>
   </div>

  	
    <div id='top'> {% include "top_table_activity.html" %} </div>

{% endblock %}
