{% extends "base.html" %}
{% block content %}
  
  <div class="container top-box-padding">
    <ul class="list-group">    
      <li class="list-group-item">
        <div class="container">
            <div class="row">
            	<div class="col-md-4">
            		<a class="h4 mylead-link" href="https://www.strava.com/activities/{{ activity.activity_id}}/">{{ activity.name}}</a>
            		<p class="h5">{{ activity.start_date_local }}</p>
                    <p>
                        <a href="https://www.last.fm/user/{{ listener.nickname }}/library?from={{ activity.start_date_local|date:'Y-m-d' }}&rangetype=1day" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-repeat"></span> See on last.fm
                        </a>
                    </p>               
                    <p>
                        <a href="/resync_last_fm/{{ activity.activity_id}}" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-repeat"></span> Resync scrobbles
                        </a>
                    </p>
                    
            	</div>
                <div class="col-md-8">
                <div class="row">
                    <div class="col-6 col-md-4 text-right">
                		<span class="h4">{{ activity.avg_speed_pretty }} </span><span> {{ activity.avg_speed_pretty_units }} </span>
                        <p>speed</p>
                    </div>
                    <div class="col-6 col-md-4 text-right">
                        <span class="h4"> {{ activity.distance_pretty }} </span><span> {{ activity.distance_big_pretty_units }} </span>
                        <p>distance</p>
                    </div>
                    <div class="col-6 col-md-4 text-right">
                        <span class="h4"> {{ activity.moving_time_pretty }} </span>
                        <p>moving time</p>
                    </div>                    
            	</div>
                
                <div class="row">
                    <div class="col-6 col-md-4 text-right">
                    <span>{{ activity.elapsed_time_pretty }} </span>
                    <p>elap. time</p>
                    </div>
                    {% if activity.avg_hr %}
                    <div class="col-6 col-md-4 text-right">
                    <span>{{ activity.avg_hr }} </span><span> bpm</span>
                    <p>avg. HR</p>
                    </div>
                    {% endif %}
                    {% if activity.avg_watts %}
                    <div class="col-6 col-md-4 text-right">
                    <span>{{ activity.avg_watts }} </span><span> W</span>
                    <p>avg. power</p>
                    </div>
                    {% endif %}
                    {% if activity.avg_cadence %}
                    <div class="col-6 col-md-4 text-right">
                    <span>{{ activity.avg_cadence }} </span><span> spm</span>
                    <p>avg. cad</p>
                    </div>
                    {% endif %}
                </div>
                </div>
            </div>
            </div>
        </li>
    </ul>
   </div>

  	
    <div id='top'> {% include "top_table_activity.html" %} </div>

{% endblock %}
