{% with "Strava Power Song" as APPTITLE %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0 minimal-ui"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" />

        <title>{{ APPTITLE }}</title>
        
        {% block head %}{% endblock %}
    </head>
    <body>

    <nav class="navbar fixed-top navbar-inverse bg-inverse ">
        <disv class="form-inline  navbar-right">    
      <a class="navbar-brand" href="https://www.strava.com/athletes/{{ athlete.id }}"><img src="{{ athlete.profile }}" width="48" height="48" class="rounded-circle" alt="Strava profile picture"></a>
      <a>{{ athlete.activity_count }} activities</a>
      <a class="navbar-brand" href="{{ listener.url }}"><img src="{{ listener.image_url }}" class="rounded-circle" width="48" height="48"  alt="last.fm profile picture"></a>
      <a>{{ listener.playcount }} scrobbles</a>
      </div>
    </nav>



    <div class="container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-dismissable {{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}{% endblock %}  
      <hr>

      <footer>
        <p>&copy; André Mourão 2017</p>
      </footer>
    </div> <!-- /container -->

     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="/static/app.css" rel="stylesheet">
    </body>
</html>
{% endwith %}