{% extends "base.html" %}
{% block content %}

<script>
  function update(query_changed) {

      type = type_form_id.value

      if (query_changed){
          $('#page')[0].value = 0
      }
      page = parseInt($('#page')[0].value) 

      asc_desc = asc_desc_form_id.value
      workout_type = workout_type_form_id.value 
      min_count = min_count_form_id.value 

      if (type == 'effort'){

        $('#top_avg_form_id_div')[0].style = ''
        $('#field_form_id_div')[0].style = ''
        $('#field_alt_form_id_div')[0].style = 'display:none'
        $('#field_alt_2_form_id_div')[0].style = 'display:none'

        top_avg = top_avg_form_id.value
        field = field_form_id.value
        

        url = `/top/?type=${top_avg}&field=${field}&dispfield=${field}&page=${page}&activity_type={{ activity_type }}&header&workout_type=${workout_type}&min_count=${min_count}`
        
      } else if (type == 'song' || type == 'artist'){

        $('#top_avg_form_id_div')[0].style = 'display:none'
        $('#field_form_id_div')[0].style = 'display:none'
        $('#field_alt_form_id_div')[0].style = ''
        $('#field_alt_2_form_id_div')[0].style = 'display:none'

        field = field_alt_form_id.value

        url = `/top_song_artist/?type=${type}&field=${field}&dispfield=${field}&page=${page}&activity_type={{ activity_type }}&header&workout_type=${workout_type}&min_count=${min_count}`

      } else {

        $('#top_avg_form_id_div')[0].style = 'display:none'
        $('#field_form_id_div')[0].style = 'display:none'
        $('#field_alt_form_id_div')[0].style = 'display:none'
        $('#field_alt_2_form_id_div')[0].style = ''

        field = field_alt_2_form_id.value

        url = `/top_activities/?type=${type}&field=${field}&dispfield=${field}&page=${page}&activity_type={{ activity_type }}&header&workout_type=${workout_type}&min_count=${min_count}`

      }

      if (asc_desc == 'asc'){
          url += '&ascending=1'
      }

      load_async('#top',url,true)
  }

  function next() {
      page = parseInt($('#page')[0].value)
      page += 1
      $('#page')[0].value = page
      update(false)
  }

  function previous() {
      page = parseInt($('#page')[0].value)
      page -= 1

      if(page < 0)
        page = 0

      $('#page')[0].value = page
      update(false)
  }

</script>


<div class="site-wrapper">
    <div class="container">
      <div class="row">
          <input type="text" id="page" style="display:none" value="0">
          <div class="col-md-2 col-xs-12">
            <div class="form-group">
              <select class="selectpicker form-control" id="type_form_id" onchange="update(true)">
                  <option name="type_form" value="effort">Effort</option>
                  <option name="type_form" value="song">Song</option>
                  <option name="type_form" value="artist">Artist</option>
                  <option name="type_form" value="activity" selected>Activity</option>
              </select>
            </div>
          </div>
          <div class="col-md-2 col-xs-12" id="top_avg_form_id_div">
            <div class="form-group">
              <select class="selectpicker form-control" id="top_avg_form_id" onchange="update(true)">
                  <option name="top_avg_form" value="top" selected>Single Effort</option>
                  <option name="top_avg_form" value="avg">Song Average</option>
              </select>
            </div>
          </div>
          <div class="col-md-2 col-xs-12" id="field_form_id_div">
            <div class="form-group">
              <select class="selectpicker form-control" id="field_form_id" onchange="update(true)">
                  <option name="field_form" value="avg_speed" selected>Avg. Speed</option>
                  <option name="field_form" value="diff_avg_speed">Diff. Avg. Speed</option>
                  <option name="field_form" value="diff_last_speed">Diff. Last Speed</option>
                  <option name="field_form" value="avg_hr">Avg. HR</option>
                  <option name="field_form" value="diff_avg_hr">Diff. Avg. HR</option>
                  <option name="field_form" value="diff_last_hr">Diff. Last HR</option>
              </select>
            </div>
          </div>
          <div class="col-md-2 col-xs-12" id="field_alt_form_id_div">
            <div class="form-group">
              <select class="selectpicker form-control" id="field_alt_form_id" onchange="update(true)">
                  <option name="field_form" value="count" selected>Count</option>
                  <option name="field_form" value="avg_speed">Avg. Speed</option>
                  <option name="field_form" value="diff_avg_speed">Diff. Avg. Speed</option>
                  <option name="field_form" value="diff_last_speed">Diff. Last Speed</option>
                  <option name="field_form" value="avg_hr">Avg. HR</option>
                  <option name="field_form" value="diff_avg_hr">Diff. Avg. HR</option>
                  <option name="field_form" value="diff_last_hr">Diff. Last HR</option>
              </select>
            </div>
          </div>
          <div class="col-md-2 col-xs-12" id="field_alt_2_form_id_div">
            <div class="form-group">
              <select class="selectpicker form-control" id="field_alt_2_form_id" onchange="update(true)">
                  <option name="field_form" value="start_date_local" selected>Latest</option>
                  <option name="field_form" value="effort">Count</option>
                  <option name="field_form" value="elapsed_time">Time</option>
                  <option name="field_form" value="distance">Distance</option>
                  <option name="field_form" value="avg_speed">Avg. Speed</option>
                  <option name="field_form" value="avg_hr">Avg. HR</option>
              </select>
            </div>
          </div>
          <div class="col-md-2 col-xs-12">
            <div class="form-group">
          <select class="selectpicker form-control" id="workout_type_form_id" onchange="update(true)">
              <option name="workout_type_form" value="-1" selected>All Activities</option>
              <option name="workout_type_form" value="0">Regular</option>
              <option name="workout_type_form" value="1">Race</option>
              <option name="workout_type_form" value="2">Long Run</option>
              <option name="workout_type_form" value="3">Workout</option>
          </select>
          </div>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="form-group">
            <select class="selectpicker form-control" id="asc_desc_form_id" onchange="update(true)">
              <option name="asc_desc_form" value="desc" selected>Descending</option>
              <option name="asc_desc_form" value="asc">Ascending</option>
            </select>
          </div>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="form-group">
            <select class="selectpicker form-control" id="min_count_form_id" onchange="update(true)">
              <option name="min_count_form" value="0" selected>Any Efforts</option>
              <option name="min_count_form" value="1">Min. 1 Effort</option>
              <option name="min_count_form" value="3">Min. 3 Efforts</option>
              <option name="min_count_form" value="5">Min. 5 Efforts</option>
              <option name="min_count_form" value="10">Min. 10 Efforts</option>
            </select>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-6">
            <button onclick="previous()" class="btn btn-alert btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>Previous
            </button>
        </div>
        <div class="col-6 text-right">
          <button onclick="next()" class="btn btn-alert btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>Next
            </button>
          
        </div>
        <div class="col-12 mt-3">
          <div id='top'> </div>
        </div>
        <div class="col-6">
            <button onclick="previous()" class="btn btn-alert btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>Previous
            </button>
        </div>
        <div class="col-6 text-right">
          <button onclick="next()" class="btn btn-alert btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>Next
            </button>
          
        </div>
      </div>
    </div>
</div>

<script>

    update(true)

</script>

{% endblock %}

      
