{% extends "base.html" %}
{% block content %}

<script>
  function update(query_changed) {

      type = type_form_id.value
      top_avg = top_avg_form_id.value
      field = field_form_id.value
      asc_desc = asc_desc_form_id.value

      if (query_changed){
        $('#page')[0].value = 0
      }
      page = parseInt($('#page')[0].value)  
          
      url = `/top/?type=${top_avg}&field=${field}&dispfield=${field}&page=${page}&activity_type={{ activity_type }}&header`
      if (asc_desc == 'asc'){
        url += '&ascending=1'
      }
      load_async('#top',url,true)
  }

  function next() {
      page = parseInt($('#page')[0].value)
      page += 1
      $('#page')[0].value = page
      update(false)
  }

  function previous() {
      page = parseInt($('#page')[0].value)
      page -= 1

      if(page < 0)
        page = 0

      $('#page')[0].innerHTML = page
      update(false)
  }

</script>


<div class="site-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <input type="text" id="page" style="display:none" value="0">
          <select class="selectpicker" id="type_form_id" onchange="update(true)">
              <option name="type_form" value="effort" selected>Effort</option>
              <option name="type_form" value="song">Song</option>
              <option name="type_form" value="artist">Artist</option>
          </select>

          <select class="selectpicker" id="top_avg_form_id" onchange="update(true)">
              <option name="top_avg_form" value="top" selected>Top</option>
              <option name="top_avg_form" value="avg">Average</option>
          </select>

          <select class="selectpicker" id="field_form_id" onchange="update(true)">
              <option name="field_form" value="avg_speed" selected>Avg. Speed</option>
              <option name="field_form" value="diff_avg_speed">Diff. Avg. Speed</option>
              <option name="field_form" value="diff_last_speed">Diff. Last Speed</option>
              <option name="field_form" value="avg_hr">Avg. HR</option>
              <option name="field_form" value="diff_avg_hr">Diff. Avg. HR</option>
              <option name="field_form" value="diff_last_hr">Diff. Last HR</option>
          </select>

          <select class="selectpicker" id="asc_desc_form_id" onchange="update(true)">
              <option name="asc_desc_form" value="desc" selected>Descending</option>
              <option name="asc_desc_form" value="asc">Ascending</option>
          </select>

        </div> 
        <div class="col-6">
            <button onclick="previous()" class="btn btn-alert btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>Previous
            </button>
        </div>
        <div class="col-6 text-right">
          <button onclick="next()" class="btn btn-alert btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>Next
            </button>
          
        </div>
        <div class="col-12 mt-3">
          <div id='top'> </div>
        </div>
        <div class="col-6">
            <button onclick="previous()" class="btn btn-alert btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>Previous
            </button>
        </div>
        <div class="col-6 text-right">
          <button onclick="next()" class="btn btn-alert btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>Next
            </button>
          
        </div>
      </div>
    </div>
</div>

<script>

    update(true)

</script>

{% endblock %}

      
