{% extends "base.html" %}
{% block content %}

<script>
  function update(query_changed) {

      type = $('input[name="type_form"]:checked').val()
      top_avg = $('input[name="top_avg_form"]:checked').val()
      field = $('input[name="field_form"]:checked').val()
      asc_desc = $('input[name="asc_desc_form"]:checked').val()
      
      if (query_changed){
        $('#page')[0].value = 0
      }
      page = parseInt($('#page')[0].value)  
          
      url = `/top/?type=${top_avg}&field=${field}&dispfield=${field}&page=${page}&activity_type={{ activity_type }}&header`
      if (asc_desc == 'asc'){
        url += '&ascending=1'
      }
      load_async('#top',url,true)
  }

  function next() {
      page = parseInt($('#page')[0].value)
      page += 1
      $('#page')[0].value = page
      update(false)
  }

  function previous() {
      page = parseInt($('#page')[0].value)
      page -= 1

      if(page < 0)
        page = 0

      $('#page')[0].innerHTML = page
      update(false)
  }

</script>


<div class="site-wrapper">
  <div class="site-wrapper-inner">  
    <div class="cover-container">
      <div class="row">
        <div class="col-12 mb-3">
          <div class="btn-toolbar">
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="text" id="page" style="display:none" value="0">
                <input type="radio" class="toggle" name="type_form" value="effort" autocomplete="off" checked>Effort</label>
              <label class="btn btn-secondary">
                <input type="radio" class="toggle" name="type_form" value="song" autocomplete="off">Song</label>
              <label class="btn btn-secondary">
                <input type="radio" class="toggle" name="type_form" value="artist" autocomplete="off"> Artist</label>
            </div>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" class="toggle" name="top_avg_form" value="top" autocomplete="off" checked>Top</label>
              <label class="btn btn-secondary">
                <input type="radio" class="toggle" name="top_avg_form" value="avg" autocomplete="off">Average</label>
            </div>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" class="toggle" name="field_form" value="avg_speed" autocomplete="off" checked>Avg. Speed</label>
              <label class="btn btn-secondary">
                <input type="radio" class="toggle" name="field_form" value="avg_hr" autocomplete="off">Avg. HR</label>
              <label class="btn btn-secondary">
                <input type="radio" class="toggle" name="field_form" value="diff_last_speed" autocomplete="off">Diff. Last Speed</label>
              <label class="btn btn-secondary">
                <input type="radio" class="toggle" name="field_form" value="diff_last_hr" autocomplete="off">Diff. Last HR</label>
            </div>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" class="toggle" name="asc_desc_form" value="desc" autocomplete="off" checked>Descending</label>
              <label class="btn btn-secondary">
                <input type="radio" class="toggle" name="asc_desc_form" value="asc" autocomplete="off">Ascending</label>
            </div>
          </div>
        </div> 
        <div class="col-6">
            <button onclick="previous()" class="btn btn-alert btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>Previous
            </button>
        </div>
        <div class="col-6 text-right">
          <button onclick="next()" class="btn btn-alert btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>Next
            </button>
          
        </div>
        <div class="col-12 mt-3">
          <div id='top'> </div>
        </div>
        <div class="col-6">
            <button onclick="previous()" class="btn btn-alert btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>Previous
            </button>
        </div>
        <div class="col-6 text-right">
          <button onclick="next()" class="btn btn-alert btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>Next
            </button>
          
        </div>
      </div>
    </div>
  </div>
</div>


<script>

    forms = ['input[name="type_form"]','input[name="top_avg_form"]','input[name="field_form"]','input[name="asc_desc_form"]']

    forms.forEach(function(item){
      $(item).on("change", function() {
        update(true)
      });  
    });
    update(true)

</script>

{% endblock %}

      
