{% with "Effortly" as APPTITLE %}
<!doctype html>
<html class="background_image0">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0 minimal-ui"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        {% load static %}
        <link rel="shortcut icon" href="{% static "favicon.png" %}" />
        <link rel="apple-touch-icon" href="{% static "touch.png" %}" />

        <title>{{ APPTITLE }}</title>
        
        {% block head %}{% endblock %}
    </head>
    <body>

    <div class="site-wrapper text-center">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner_spacing cover mt-5">
            <h1 class="cover-heading">Want to know which songs make your heart beat faster?</h1>
            <h2 class="lead">The ones that give that real extra push?</h2>
            <h2><a class="btn btn-primary btn-info my-2" href="/demo/" role="button">See a live demo with real data</a></h2>
            <span>or get started!</span>
              <div class="row">
                <div class="col-md-12">
                 {% if strava_authorize_url %}
                      <a class="btn my-2" href="{{ strava_authorize_url }}" role="button"> <img src="/static/logo/connect_strava/btn_strava_connectwith_orange.png"></a>
                  {% else %}
                      <a class="btn btn-secondary disabled" href="#" role="button">Strava authorized</a>
                {% endif %}
                </div>

              </div>

          </div>

          </div>

    </div>

    </div>

    <footer class="footer">
      <div class="container text-white">
        <div class="row">
          <div class="col-12 col-xl-5">
            <img class="logo_footer" src="/static/logo/powered_strava/api_logo_pwrdBy_strava_horiz_light.png">
          </div>
          <div class="col-12 col-xl-2 text-center my-auto">
            <a class="mylead-link" href="mailto:admin@effortly.run">admin@effortly.run</a>
          </div>
          <div class="col-12 col-xl-5 text-right">
            <img class="logo_footer" src="/static/logo/powered1.png">
            <img class="logo_footer" src="/static/logo/powered2.png">
          </div>
        </div>
      </div>
    </footer>

     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web" rel="stylesheet"> 
    <link href="/static/app.css" rel="stylesheet">
    <link href="/static/cover.css" rel="stylesheet">
    </body>
</html>
{% endwith %}