{% extends "base.html" %}
{% block content %}
  
  <div class="container top-box-padding">
    <ul class="list-group">    
      <li class="list-group-item">
        <div class="container">
            <div class="row">
                 <div class="col-md-lg-2 col-md-3">
                <a href="{{ song.url}}/"><img src="{% if song.image_url %}{{ song.image_url }}{% else %}{{ song.artist.image_url }}{% endif %}" class="rounded w-100" onerror="img_error(this);" alt="{{ song.title }}"></a>
                </div>
                <div class="col-md-lg-10 col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="h4">{{song.title}} - <a href="/artist/{{ song.artist.id }}/">{{song.artist_name}}</a></p>
                        </div>
                    </div>
                    <div class="row">
                    
                    <div class="col-6 col-md-3 text-right">
                    	{% if activity_type == 0 %}
                		<span class="h4">{{ effort_averages.avg_avg_speed_s }} </span><span> {{ effort_averages.units.speed_s }} </span>
                		{% else %}
                		<span class="h4">{{ effort_averages.avg_avg_speed }} </span><span> {{ effort_averages.units.speed }} </span>
                		{% endif %}
                        <p>avg. speed</p>
                    </div>
                    <div class="col-6 col-md-3 text-right">
                        <span class="h4"> {{ effort_averages.avg_distance }} </span><span> {{ effort_averages.units.distanceSmall }} </span> 
                        <p>avg. distance</p>
                    </div>
                    <div class="col-6 col-md-3 text-right">
                        <span class="h4"> {{ effort_averages.avg_duration }} </span><span> {{ effort_averages.units.timeBig }}</span>
                        <p>avg. effort duration</p>
                    </div> 
                    <div class="col-6 col-md-3 text-right">
                        <span class="h4"> {{ effort_averages.count }} </span><span> </span>
                        <p>count</p>
                    </div>
                    </div>

                	<div class="row">
	                    

                        <div class="col-6 col-md-3 text-right">

                        {% if effort_averages.avg_diff_avg_speed|add:"0" > "0" %}
                        <i class="fa fa-chevron-circle-up green_arrow"></i>
                        {% elif effort_averages.avg_diff_avg_speed|add:"0" < "0" %}
                        <i class="fa fa-chevron-circle-down red_arrow"></i>
                        {% else %}
                        <i class="blue_arrow">=</i>
                        {% endif %}


                        {% if activity_type == 0 %}
                        <span>{{ effort_averages.avg_diff_avg_speed_s }} </span><span> {{ effort_averages.units.speed_s }} </span>
                        {% else %}
                        <span>{{ effort_averages.avg_diff_avg_speed }} </span><span> {{ effort_averages.units.speed }} </span>
                        {% endif %}
                        <p>&Delta; avg. speed</p>

                        </div>

                        {% if effort_averages.avg_diff_last_speed %}
                        <div class="col-6 col-md-2 text-right">

                        {% if effort_averages.avg_diff_last_speed|add:"0" > "0" %}
                        <i class="fa fa-chevron-circle-up green_arrow"></i>
                        {% elif effort_averages.avg_diff_last_speed|add:"0" < "0" %}
                        <i class="fa fa-chevron-circle-down red_arrow"></i>
                        {% else %}
                        <i class="blue_arrow">=</i>
                        {% endif %}


                        {% if activity_type == 0 %}
                        <span>{{ effort_averages.avg_diff_last_speed_s }} </span><span> {{ effort_averages.units.speed_s }} </span>
                        {% else %}
                        <span>{{ effort_averages.avg_diff_last_speed }} </span><span> {{ effort_averages.units.speed }} </span>
                        {% endif %}

                        <p>&Delta; last speed</p>
                        </div>
                        {% endif %}

                        {% if effort_averages.avg_avg_hr %}
                        <div class="col-6 col-md-2 text-right">
                        <span>{{ effort_averages.avg_avg_hr|floatformat:"2" }} </span><span> {{ effort_averages.units.heartrate }}</span>
                        <p>avg. hr</p>
                        </div>
                        {% endif %}

	                    {% if effort_averages.avg_diff_avg_hr %}
	                    <div class="col-6 col-md-2 text-right">

                        {% if effort_averages.avg_diff_avg_hr > 0 %}
                        <i class="fa fa-chevron-circle-up green_arrow"></i>
                        {% elif effort_averages.avg_diff_avg_hr < 0 %}
                        <i class="fa fa-chevron-circle-down red_arrow"></i>
                        {% else %}
                        <i class="blue_arrow">=</i>
                        {% endif %}

	                    <span>{{ effort_averages.avg_diff_avg_hr|floatformat:"2" }} </span><span> {{ effort_averages.units.heartrate }}</span>
	                    <p>&Delta; avg. hr</p>
	                    </div>
	                    {% endif %}

						{% if effort_averages.avg_diff_last_hr %}
	                    <div class="col-6 col-md-2 text-right">

                        {% if effort_averages.avg_diff_last_hr > 0 %}
                        <i class="fa fa-chevron-circle-up green_arrow"></i>
                        {% elif effort_averages.avg_diff_last_hr < 0 %}
                        <i class="fa fa-chevron-circle-down red_arrow"></i>
                        {% else %}
                        <i class="blue_arrow">=</i>
                        {% endif %}

	                    <span>{{ effort_averages.avg_diff_last_hr|floatformat:"2" }} </span><span> {{ effort_averages.units.heartrate }}</span>
	                    <p>&Delta; last hr</p>
	                    </div>
	                    {% endif %}

                        {% if effort_averages.avg_avg_watts %}
                        <div class="col-6 col-md-3 text-right">
                        <span>{{ effort_averages.avg_avg_watts|floatformat:"2" }} </span><span> {{ effort_averages.units.watts }}</span>
                        <p>avg. power</p>
                        </div>
                        {% endif %}
                        {% if effort_averages.avg_avg_cadence %}
                        <div class="col-6 col-md-3 text-right">
                        <span>{{ effort_averages.avg_avg_cadence|floatformat:"2" }} </span><span> {{ effort_averages.units.cadence }}</span>
                        <p>avg. cad.</p>
                        </div>
                        {% endif %}

                	</div>  

                  </div>


                </div>
            </div>
            </div>
        </li>
    </ul>
   </div>

    <div id='top'> {% include "top_table_detail_song.html" %} </div>

{% endblock %}
