{% extends "base.html" %}
{% block content %}

{% if song.spotify_id and spotify_token %}
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
    var player = undefined
    var token = '{{ spotify_token }}';

    var spotify_ids = []
    var start_times = []
    spotify_ids.push('spotify:track:{{ song.spotify_id }}')
    start_times.push(0)
    
</script>   
{% endif %}
<script>
    var color = Chart.helpers.color;
    var scatterChartData = {
        datasets: [
            {
            label: 'Average',
            borderColor: color('#17a2b8').alpha(1).rgbString(),
            backgroundColor: color('#17a2b8').alpha(1).rgbString(),
            showLine: true,
            pointRadius: 3,
            fill: false,
            data: [
                {% for data,time in chart_data %}{x: {{ time }}, y: {{ data }}},{% endfor %}
            ]
            },
            {% if False %}
            {% for effort in top %}
            {
            label: '{{ effort.activity__name }}',
            backgroundColor: color('#0000FF').alpha(0.5).rgbString(),
            data: [
                {% decode_bytes_data data=effort.data time=effort.time as data_time %}
                {% for data,time in data_time %}{x: {{ time }}, y: {{ data }}},{% endfor %}
            ]
            },
            {% endfor %}
            {% endif %}
        ]
    };

    window.onload = function() {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myScatter = Chart.Scatter(ctx, {
            data: scatterChartData,
            options: {
                title: {
                    display: true,
                    text: 'Diference in Speed over Time'
                },
                legend: {
                    display: false 
                },
                scales: {
                    yAxes: [{
                        labelString: 'Speed (m/s)',
                        display: true
                    }],
                    xAxes: [{
                        labelString: 'Time in Song (s)',
                        display: true,
                        {% if song.duration %}
                        ticks: {
                            max: ({{ song.duration }}/1000)+5
                        }
                        {% endif %}
                    }]
                },
                onClick: function(event, array) {
                    let element = this.getElementAtEvent(event);
                    if (element.length > 0) {
                        var value = this.data.datasets[element[0]._datasetIndex].data[element[0]._index];
                        position = value.x * 1000
                        {% if song.duration %}
                        if (position >= ({{ song.duration }}-6000))
                            position = ({{ song.duration }}-6000)
                        {% endif %}
                        play({
                          playerInstance: player,
                          spotify_uri: ['spotify:track:{{ song.spotify_id }}'],
                          position: (position)
                        });
                        
                    }
                }
            }
        });
    };
</script>


  <div class="container top-box-padding">
    <ul class="list-group">    
      <li class="list-group-item">
        <div class="container">
            <div class="row">
                 <div class="col-md-lg-2 col-md-3">
                <a href="{{ song.url}}/"><img src="{% if song.image_url %}{{ song.image_url }}{% else %}{{ song.artist.image_url }}{% endif %}" class="rounded w-100" onerror="img_error(this);" alt="{{ song.title }}"></a>
                </div>
                <div class="col-md-lg-10 col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="h4">{% get_song_symbol song.spotify_id %} {{song.title}} - <a href="/artist/{{ song.artist.id }}/">{{song.artist_name}}</a></p>
                        </div>
                    </div>

                    {% if not top %}
                    <div class="row">
                        <div class="col-md-12">
                            <p class="h5">No {% if activity_type == 0 %}running{% elif activity_type == 1 %}cycling{% endif %} efforts found :(</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        
                    <div class="col-6 col-md-3 text-right">
                        {% if activity_type == 0 %}
                        <span class="h4">{{ effort_averages.avg_avg_speed_s_pretty }} </span><span> {{ effort_averages.units.speed_s }} </span>
                        {% else %}
                        <span class="h4">{{ effort_averages.avg_avg_speed_pretty }} </span><span> {{ effort_averages.units.speed }} </span>
                        {% endif %}
                        <p>avg. speed</p>
                    </div>
                    <div class="col-6 col-md-3 text-right">
                        <span class="h4"> {{ effort_averages.avg_distance_pretty }} </span><span> {{ effort_averages.units.distanceSmall }} </span>
                        <p>avg. distance</p>
                    </div>

                    {% if song.duration and song.duration > 0 %}
                    <div class="col-6 col-md-3 text-right">
                        <span class="h4"> {{ song.duration_pretty }} </span><span> {{ effort_averages.units.timeBig }}</span>
                        <p>duration</p>
                    </div> 
                    {% else %}
                    <div class="col-6 col-md-3 text-right">
                        <span class="h4"> {{ effort_averages.avg_duration_pretty }} </span><span> {{ effort_averages.units.timeBig }}</span>
                        <p>avg. duration</p>
                    </div> 
                    {% endif %}

                    <div class="col-6 col-md-3 text-right">
                        <span class="h4"> {{ effort_averages.count }} </span><span> </span>
                        <p>count</p>
                    </div>
                    </div>

                	<div class="row">

                        {% if not duration in song or song.duration == 0.0 %}
                        <div class="col-6 col-md-2 text-right">
                        <span> {{ effort_averages.avg_duration_pretty }} </span><span> {{ effort_averages.units.timeBig }}</span>
                        <p>avg. duration</p>
	                    </div>
                        {% endif %}


                        <div class="col-6 col-md-2 text-right">
                        {% if activity_type == 0 %}
                            {% get_delta_symbol effort_averages.avg_diff_avg_speed_s 0 %}
                            <span>{{ effort_averages.avg_diff_avg_speed_s_pretty }} </span><span> {{ effort_averages.units.speed_s }} </span>
                        {% else %}
                            {% get_delta_symbol effort_averages.avg_diff_avg_speed 0 %}
                            <span>{{ effort_averages.avg_diff_avg_speed_pretty }} </span><span> {{ effort_averages.units.speed }} </span>
                        {% endif %}
                        <p>&Delta; avg. speed</p>

                        </div>

                        {% if effort_averages.avg_diff_last_speed %}
                        <div class="col-6 col-md-2 text-right">

                        {% if activity_type == 0 %}
                            {% get_delta_symbol effort_averages.avg_diff_last_speed_s 0 %}
                            <span>{{ effort_averages.avg_diff_last_speed_s_pretty }} </span><span> {{ effort_averages.units.speed_s }} </span>
                        {% else %}
                            {% get_delta_symbol effort_averages.avg_diff_last_speed 0 %}
                            <span>{{ effort_averages.avg_diff_last_speed_pretty }} </span><span> {{ effort_averages.units.speed }} </span>
                        {% endif %}

                        <p>&Delta; last speed</p>
                        </div>
                        {% endif %}

                        {% if effort_averages.avg_avg_hr %}
                        <div class="col-6 col-md-2 text-right">
                            <span>{{ effort_averages.avg_avg_hr|floatformat:"2" }} </span><span> {{ effort_averages.units.heartrate }}</span>
                            <p>avg. hr</p>
                        </div>
                        {% endif %}

                        {% if effort_averages.avg_diff_avg_hr %}
                        <div class="col-6 col-md-2 text-right">

                        {% get_delta_symbol effort_averages.avg_diff_avg_hr 0 %}
                        
                        <span>{{ effort_averages.avg_diff_avg_hr|floatformat:"2" }} </span><span> {{ effort_averages.units.heartrate }}</span>
                        <p>&Delta; avg. hr</p>
                        </div>
                        {% endif %}

                        {% if effort_averages.avg_diff_last_hr %}
                        <div class="col-6 col-md-2 text-right">

                        {% get_delta_symbol effort_averages.avg_diff_last_hr 0 %}
                        
                        <span>{{ effort_averages.avg_diff_last_hr|floatformat:"2" }} </span><span> {{ effort_averages.units.heartrate }}</span>
                        <p>&Delta; last hr</p>
                        </div>
                        {% endif %}

                	</div> 
                    {% endif %} 
                  </div>
                </div>
                {% if demo == None %}
                <div class="row">
                    <div class="col-10 text-left">
                        {% if spotify_token %}
                    <p>
                        <button onclick="playList()" type="button" class="btn btn-outline-success fa fa-play-circle"></button>
                        <span id="nowPlaying" style="overflow-x: hidden;">Click to initialize player</span>
                    </p>
                    {% endif %}
                    </div>
                    <div class="col-2 text-right">
                        
                    <div class="dropdown">
                      <button class="btn btn-outline-info fa fa-cog" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <button onclick="sendPost({{ song.id }},'flag_song','flagged',!{{ flagged|lower }})" class="dropdown-item" type="button">{% if flagged %}Unflag{% else %}Flag{% endif %} song</button>
                      </div>
                    </div>
                    </div>
                </div>
                {% endif %}


                {% if top %}
                <div class="row">
                        <canvas id="canvas"></canvas>
                    </div> 
                {% endif %}
            </div>
            </div>
        </li>
    </ul>
   </div>

    <div id='top'> {% include "top_table_detail_song.html" %} </div>

{% endblock %}
