{% extends "base.html" %}
{% block content %}
<div class="container top-box-padding">
	<ul class="list-group">    
		<li class="list-group-item">
			<div class="container">
				<div class="row">
					<div class="col-12">
                        {% for key, values in stats.items %}
						<p class="mt-3 h4">{{ key }}</p>
						<ul>
                            {% if values.items  %}
                                {% for key2, values2 in values.items %}
                                <li><strong>{{ key2 }}:</strong> {{ values2 }}</li>
                                {% endfor %}
                            {% else %}
                                {% for key2, values2 in values %}
                                <li><a href="{{ key2 }}">{{ values2 }}</a></li>
                                {% endfor %}
                            {% endif %}

						</ul>
                        {% endfor %}
				</div>
			</div>
		</li>
	</ul>
</div>
{% endblock %}