{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Strava</h3>
      <img src="{{ athlete.profile }}" width="128" height="128" class="img-fluid rounded-circle" alt="Strava profile picture">
      <a href="https://www.strava.com/athletes/{{ athlete.id }}">{{ athlete.firstname }} {{ athlete.lastname }}</a>
      <p>{{ athlete.activity_count }} activities</p>
    </div>
    <div class="col-md-6">
      <h3>last.fm</h3>
      <img src="{{ listener.image_url }}" width="128" height="128" class="img-fluid rounded-circle" alt="last.fm profile picture">
      <a href="{{ listener.url }}">{{ listener.name }}</a>
      <p>{{ listener.playcount }} scrobbles</p>
    </div>
    <p><a class="btn btn-secondary" href="/?resync" role="button">Resync</a> {{ sessionss.sync_status }}: {{ sessionss.sync_completed }} of {{ athlete.activity_count }}</p>
  </div>
  <div class="row">
  <div class="col-md-12">
    <ul>
    {% for song in sync_results %}
      <li class="list-group-item justify-content-between flex-column align-items-start">
        <h5 class="mb-1"><span class="badge badge-default badge-pill">{{song.rank}}</span>{{song.main_key|floatformat:"2"}} km/h {{song.songTitle}} - {{song.songArtist}}</h5>
        <a href="https://www.strava.com/activities/{{ song.id}}">{{ song.name}}</a>
        <p class="mb-1">{{ song.diffLastSpeed|floatformat:"2"}} {{song.diffAvgSpeed|floatformat:"2"}} {{song.avgHr|floatformat:"2"}} {{song.diffLastHr|floatformat:"2"}} {{song.diffAvgHr|floatformat:"2"}} {{song.startDist|floatformat:"2"}} {{song.endDist|floatformat:"2"}}</p> 
      </li>
    {% endfor %}
    </ul>
  </div>    
  </div>
</div>

{% endblock %}
