{% extends "base.html" %}
{% block content %}

  {% block top_table %}{% endblock %} 
  <div class="row">
    <div class="col-md-9">
        <div id='top'> </div>
       

        <div id='avg'> </div>

        <div id='sum'> </div>

        <div id='top_c'> </div>
    </div>
    <div class="col-md-3">
        <div id='recent_table'> </div>
    </div>
</div>



{% endblock %}

{% block extra_js %}

    <script type="text/javascript">

    $(document).ready(function () {
        update_all();
    });

    </script>  
{% endblock %} 
