{% extends "base.html" %}
{% block content %}

{% block top_table %}{% endblock %} 

<div class="site-wrapper text-center px-0 mx-0" style="height: 90vh;">
  <div class="site-wrapper-inner px-0 mx-0">
    <div class="cover-container px-0 mx-0">
      <div class="inner_spacing cover px-0 mx-0">
        <h1 class="cover-heading">Welcome {{ athlete.first_name }}!</h1>
        {% if first_login != None %}
        <p class="h2">This is your first time here.</p>
        <p class="h2">Strava tells me your main activity type is {{ athlete.get_activity_type_display }}.</p>
        <p class="h2">You can change that on the top bar.</p>
        {% elif count_s%}
        <p class="h2">Found <span class="text_color_lastfm">{{ count_s }} scrobbles</span> over <span class="text_color_strava">{{ count_a }} {% if activity_type == 0 %}runs{% elif activity_type == 1 %}rides{% elif activity_type == -1 %}activities{% endif %}.</span></p>
        <p class="h2">Are you ready to <span class="text_color_lastfm">rock?</span></p>
        <p class="h3">Scroll down to see your PowerSongs!</p>
        {% elif not demo and not listener and not listenerspotify %}
        <p class="h2">Associate your last.fm or Spotify account before you can sync activities.</p>
        <a role="button" class="btn btn-danger" href="/settings/">ASSOCIATE LAST.FM OR SPOTIFY</a>
        {% else %}
        <p class="h2">Press the sync button on the top bar to get your activities and songs.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if count_s %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="container-fluid gray-background margins-top-bottom"> 
      <div class="row mx-0">
        <div class="col-md-12 text-center">
          <p class="h2">Let's start by checking the <span class="text_color_lastfm">artists and songs</span> you listen to while <span class="text_color_strava">{% if activity_type == 0 %}running{% elif activity_type == 1 %}cycling{% else %}on activity{% endif %}</span></p>
          <p class="mylead">(click on the artist or song names to check the matching activities)</p>
      </div>
      </div>
    </div>
  
    <div class="container-fluid px-0 mx-0">
      <div class="row px-0 mx-0">
      
        <div class="col-md-6 px-0 mx-0">
          <div id='artists'></div>
        </div>

        <div class="col-md-6 px-0 mx-0">
          <div id='songs'></div>
        </div>
        
      </div>
    </div>
    
    <div class="container-fluid gray-background margins-top-bottom">
      <div class="row mx-0">
        <div class="col-md-12 text-center">
          <p class="h2">Those are some wicked <span class="text_color_lastfm">tunes!</span> But how <span class="text_color_strava">fast</span> do they make you go?</p>
          <p class="mylead">(click on the activity name to see what other songs you've listened to)</p>
        </div>
      </div>
    </div>

    <div class="cover-container">
      <div class="row mx-0">
        <div class="col-md-12">
          <div id='top'> </div>
        </div>
      </div>
    </div>

    <div class="container-fluid gray-background margins-top-bottom">
      <div class="row mx-0">
        <div class="col-md-12 text-center">
          <p class="h2">What about the ones that made your heart <span class="text_color_lastfm">beat</span> <span class="text_color_strava">faster?</span></p>
        </div>
      </div>
    </div>

    <div class="cover-container">
      <div class="row mx-0">
        <div class="col-md-12">
          <div id='top-hr'> </div>
        </div>
      </div>
    </div>

    <div class="container-fluid gray-background margins-top-bottom">
      <div class="row mx-0">
        <div class="col-md-12 text-center">
          <p class="h2">Those are some impressive <span class="text_color_strava">performances</span>... but they could have been <span class="text_color_lastfm">flukes.</span></p>
          <p class="mylead">Maybe you're being chased by a pack of <span class="text_color_strava">rabid dogs</span>, running away from <span class="text_color_strava">fast zombies</span>, rolling down <span class="text_color_strava">Mt. Everest</span>, or just hitched a ride on a nearby <span class="text_color_strava">scooter</span>.</p>
          <p class="h2">{% if activity_type == 0 %}As a runner, y{% elif activity_type == 1 %}As a cyclist, y{% else %}Y{% endif %}ou know that <span class="text_color_lastfm">consistency is key</span>.</p>
          <p class="mylead">So, what are the <span class="text_color_lastfm">songs</span> where, averaging over all runs, you...are <span class="text_color_strava">faster</span></p>
        </div>
      </div>
    </div>

    <div class="cover-container">
      <div class="row mx-0">
        <div class="col-md-12">
          <div id='avg'> </div>
        </div>
      </div>
    </div>

    <div class="container-fluid gray-background margins-top-bottom">
      <div class="row mx-0">
        <div class="col-md-12 text-center">
          <p class="mylead">...<span class="text_color_strava">accelerate</span></p>
        </div>
      </div>
    </div>

    <div class="cover-container">
      <div class="row mx-0">
        <div class="col-md-12">
          <div id='avg_diff_last_speed'> </div>
        </div>
      </div>
    </div>

    <div class="container-fluid gray-background margins-top-bottom">
      <div class="row mx-0">
        <div class="col-md-12 text-center">
          <p class="mylead">...your heart <span class="text_color_strava">pump</span> harder</p>
        </div>
      </div>
    </div>

    <div class="cover-container">
      <div class="row mx-0">
        <div class="col-md-12">
          <div id='avg_diff_last_hr'> </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block extra_js %}

<script type="text/javascript">

  $(document).ready(function () {
    update_all();
  });

</script>  
{% endblock %} 
