{% block top_table %}


<div class="container">
    <ul class="list-group">    
    {% for effort in top %}
      <li class="list-group-item">
        <div class="container">
            <div class="row">
                <div class="col-md-lg-2 col-md-3">
                <a href="{{ effort.song__url}}/"><img src="{% if effort.song__image_url %}{{ effort.song__image_url }}{% else %}{{ effort.song__artist__image_url }}{% endif %}" class="rounded w-100" onerror="img_error(this);" alt="{{ effort.song__title }}"></a>
                </div>
                <div class="col-md-lg-10 col-md-9">
                <div class="row">
                        <div class="col-md-12 h4">
                            <a href="/song/{{ effort.song}}/">{{effort.song__title}}</a> - <a href="/artist/{{ effort.song__artist__id}}/">{{effort.song__artist_name}}</a>
                        </div>
                    </div>
                    <div class="row">
                    
                    <div class="col-6 col-md-2 text-right">
                        {% if activity_type == 0 %}
                        <span class="h5">{{ effort.avg_speed_s_pretty }} </span><span> {{ effort.units.speed_s }} </span>
                        {% else %}
                        <span class="h5">{{ effort.avg_speed_pretty }} </span><span> {{ effort.units.speed }} </span>
                        {% endif %}
                        <p>avg. speed</p>
                    </div>
                    <div class="col-6 col-md-2 text-right">
                        <span class="h5"> {{ effort.distance_pretty }} </span><span> {{ effort.units.distanceSmall }} </span>
                        <p>distance</p>
                    </div>
                    <div class="col-6 col-md-2 text-right">
                        <span class="h5"> {{ effort.duration_pretty }} </span><span> {{ effort.units.timeBig }}</span>
                        <p>duration</p>
                    </div> 
                    <div class="col-6 col-md-2 text-right">
                        <span class="h5">{{effort.start_time_pretty}}</span>
                        <p>started at</p>
                    </div>
                    <div class="col-6 col-md-2 text-right">
                        <span class="h5">{{effort.start_distance_pretty}}  </span><span> {{ effort.units.distanceBig }} </span>
                        <p>started at</p>
                    </div>
                    </div>

                    <div class="row">
                        

                        <div class="col-6 col-md-2 text-right">

                        
                        {% if activity_type == 0 %}
                        
                        {% get_delta_symbol effort.diff_avg_speed_s 0 %}
                        
                        <span>{{ effort.diff_avg_speed_s_pretty }} {{ effort.units.speed_s }} </span>
                        {% else %}
                        
                        {% get_delta_symbol effort.diff_avg_speed 0 %}
                        <span>{{ effort.diff_avg_speed_pretty }} {{ effort.units.speed }} </span>

                        {% endif %}
                        <p>&Delta; avg. speed</p>

                        </div>


                        {% if effort.diff_last_speed %}

                        <div class="col-6 col-md-2 text-right">
                        
                        
                        {% if activity_type == 0 %}
                        
                        {% get_delta_symbol effort.diff_last_speed_s 0 %}

                        <span>{{ effort.diff_last_speed_s_pretty }} {{ effort.units.speed_s }} </span>
                        {% else %}

                        {% get_delta_symbol effort.diff_last_speed 0 %}

                        <span>{{ effort.diff_last_speed_pretty }} {{ effort.units.speed }} </span>
                        {% endif %}

                        <p>&Delta; last speed</p>
                        </div>

                        {% endif %}

                        {% if effort.avg_hr %}

                        <div class="col-6 col-md-2 text-right">
                        <span>{{ effort.avg_hr|floatformat:"2" }} {{ effort.units.heartrate }}</span>
                        <p>avg. hr</p>
                        </div>
                        {% endif %}

                        {% if effort.diff_avg_hr %}
                        <div class="col-6 col-md-2 text-right">

                        {% get_delta_symbol effort.diff_avg_hr 0 %}

                        <span>{{ effort.diff_avg_hr|floatformat:"2" }} {{ effort.units.heartrate }}</span>
                        <p>&Delta; avg. hr</p>
                        </div>
                        {% endif %}

                        {% if effort.diff_last_hr %}
                        <div class="col-6 col-md-2 text-right">

                        {% get_delta_symbol effort.diff_last_hr 0 %}

                        <span>{{ effort.diff_last_hr|floatformat:"2" }} {{ effort.units.heartrate }}</span>
                        <p>&Delta; last hr</p>
                        </div>
                        {% endif %}

                        {% if effort.avg_watts %}
                        <div class="col-6 col-md-2 text-right">
                        <span>{{ effort.avg_watts|floatformat:"2" }} {{ effort.units.watts }}</span>
                        <p>avg. power</p>
                        </div>
                        {% endif %}
                        
                        {% if effort.avg_cadence %}
                        <div class="col-6 col-md-2 text-right">
                        <span>{{ effort.avg_cadence|floatformat:"2" }} {{ effort.units.cadence }}</span>
                        <p>avg. cad.</p>
                        </div>
                        {% endif %}

                        <div class="col-12">
                         <p>
                        <button onclick="sendPost({{ effort.id }},'flag_effort','flagged',!{{ effort.flagged|lower  }})" class="btn btn-alert btn-sm">
                            <span class="glyphicon glyphicon-repeat"></span>{% if effort.flagged %}Unflag{% else %}Flag{% endif %} effort
                        </button>
                        <button onclick="sendPost({{ effort.id }},'flag_effort','flagged_hr',!{{ effort.flagged_hr|lower }})" class="btn btn-alert btn-sm">
                            <span class="glyphicon glyphicon-repeat"></span>{% if effort.flagged_hr %}Unflag{% else %}Flag{% endif %} effort HR
                        </button>                        
                        </p>

                        </div>

                    </div>  
                </div>
            </div>
        </div>
      </li>
    {% endfor %}
    </ul>
</div>
<hr>

{% endblock %} 