{% block top_table %}

<div class="container">
    <ul class="list-group">    
    {% for effort in top %}
      <li class="list-group-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3">
                <a href="{{ effort.song__url}}/"><img src="{% if effort.song__image_url %}{{ effort.song__image_url }}{% else %}{{ effort.song__artist__image_url }}{% endif %}" class="rounded" width="100%" onerror="img_error(this);" alt="{{ effort.song__title }}"></a>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="row">
                        <div class="col-md-12 h4 mylead-overflow">
                            <a href="/song/{{ effort.song}}/">{{effort.song__title}}</a> - <a href="/artist/{{ effort.song__artist__id}}/">{{effort.song__artist_name}}</a>
                            {% if effort.activity__activity_id %}
                            </br>
                            </br>
                            <a class="h5 mylead-link mylead-overflow" href="/activity/{{ effort.activity__activity_id}}/">{{ effort.activity__name}}</a>
                            {% endif %}
                            {% if effort.activity__start_date_local %} 
                            </br>
                            <span class="h5">{{ effort.activity__start_date_local }}</span>
                            {% endif %}
                            
                            <div class="h5 mylead-overflow">
                                </br>
                                {% if effort.average %}
                                on average
                                {% endif %}
                                starts at min {{effort.start_time}} ({{effort.units.distanceBig}} {{effort.start_distance|floatformat:"2"}}) and 
                                {% if effort.average %}
                                </br>
                                {% endif %}
                                lasts for {{effort.duration}} {{effort.units.timeBig}} ({{effort.distance|floatformat:"2"}} {{effort.units.distanceSmall}})
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right col-md-2">
                <span>
                {% if effort.average %}
                    on average
                    </br>
                {% endif %} 
                </span>
                <span class="h5">
                {% if effort.sort_value %} {{ effort.sort_value }} {{ effort.sort_value_unit }} {% endif %}
                </span>
                <span>
                {% if effort.diff %} 
                    </br>{{ effort.diff }} than 
                    {% if effort.last %} 
                        prev. effort
                    {% elif effort.average %}
                        activity avg.
                    {% endif %} 
                {% endif %}
                
                </span>
                </div>
            </div>
        </div>
      </li>
    {% endfor %}
    </ul>
</div>
<hr>

{% endblock %}
