{% block top_table %}

<div class="container">
    <ul class="list-group">    
    {% for effort in top %}
      <li class="list-group-item">
        <div class="container">
        <div class="row">
        <div class="col-md-1">
        <span class="badge badge-default badge-pill">{{ forloop.counter }}</span>
        </div>
        <div class="col-md-9">
        <a href="/artist/{{ effort.song__artist__id}}/">{{effort.song__artist_name}}</a> - <a href="/song/{{ effort.song}}/">{{effort.song__title}}</a>
        <a href="{{ effort.song__url}}/">(last.fm link)</a>
        
        </div>
        <div class="col-md-2">
        {% if effort.sort_value %} {{ effort.sort_value }} {{ effort.sort_value_unit }} {% endif %}
        </div>
        </div>
        <div class="row">
        {% if effort.activity__activity_id %} 
        <div class="col-md-1">
        </div>
        <div class="col-md-9">
        {% if effort.activity__start_date_local %} {{ effort.activity__start_date_local }}{% endif %}
        <a href="/activity/{{ effort.activity__activity_id}}/">{{ effort.activity__name}}</a>
        <a href="https://www.strava.com/activities/{{ effort.activity__activity_id}}/">(Strava link)</a>
        </div>
        <div class="col-md-2">
        </div>
        {% endif %}
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
        <div class="row">
        <p> avg_speed {{effort.avg_speed_s}} {{effort.units.speed_s}}, avg_hr {{effort.avg_hr|floatformat:"2"}} {{effort.units.heartrate}}, diff_last_hr {{effort.diff_last_hr|floatformat:"2"}} {{effort.units.heartrate}}, diff_avg_hr {{effort.diff_avg_hr|floatformat:"2"}} {{effort.units.heartrate}}</p>
        </div>
        <div class="row">
        <p>diff_last_speed {{effort.diff_last_speed }} {{effort.units.speed}}, diff_avg_speed {{effort.diff_avg_speed }} {{effort.units.speed}}</p>
        </div>
        <div class="row">
        <p>diff_last_speed_s {{effort.diff_last_speed_s }} {{effort.units.speed_s}}, diff_avg_speed_s {{effort.diff_avg_speed_s }} {{effort.units.speed_s}}</p>
        </div>
        <div class="row">
        <p>Started at {{effort.start_distance|floatformat:"2"}} {{effort.units.distanceBig}}. Effort distance was {{effort.distance|floatformat:"2"}} {{effort.units.distanceSmall}}</p> 
        </div>
        <div class="row">
        <p>Started at {{effort.start_time}} {{effort.units.timeBig}}. Effort duration was {{effort.duration}} {{effort.units.timeBig}}.</p> 
        </div>
        </div>
        </div>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
  <hr>

{% endblock %}
