{% block top_table %}

<div class="container">
  <ul class="list-group">    
    {% if header %}
    <li class="list-group-item">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            {{ header }}
          </div>
        </div>
      </div>
    </li>
    {% endif %}
  {% for effort in top %}
    <li class="list-group-item">
      <div class="container">
        <div class="row">
          <div class="col-md-lg-2 col-md-3">
            <a href="{{ effort.song__original_song__url}}/"><img src="{% if effort.song__original_song__image_url %}{{ effort.song__original_song__image_url }}{% else %}{{ effort.song__original_song__artist__image_url }}{% endif %}" class="rounded w-100" onerror="img_error(this);" alt="{{ effort.song__original_song__title }}"></a>
          </div>
        <div class="col-md-lg-8 col-md-7">
          <div class="row">
            <div class="col-md-12">
              <a class="h4" href="/song/{{ effort.song__original_song }}/">{% get_song_symbol effort.song__original_song__spotify_id %} {{effort.song__original_song__title}}</a> - <a class="h4" href="/artist/{{ effort.song__original_song__artist__id}}/">{{effort.song__original_song__artist_name}}</a>
                {% if effort.activity__activity_id %}
              </br>
              <a class="h5 mylead-link mylead-overflow" href="/activity/{{ effort.activity__activity_id}}/">{{ effort.activity__name}}</a>
              </br>
              <span>{{ effort.activity__start_date_local }}</span>
              {% endif %}
            </div>
          </div>
          <div class="row">               
            <div class="col-6 col-md-3 text-right">
              {% if activity_type == 0 %}
                <span class="h5">{{ effort.avg_speed_s_pretty }} </span><span> {{ effort.units.speed_s }} </span>
              {% else %}
                <span class="h5">{{ effort.avg_speed_pretty }} </span><span> {{ effort.units.speed }} </span>
              {% endif %}
              <p>avg. speed</p>
            </div>
            <div class="col-6 col-md-3 text-right">
              <span class="h5"> {{ effort.distance_pretty }} </span><span> {{ effort.units.distanceSmall }} </span>
              <p>distance</p>
            </div>
            <div class="col-6 col-md-3 text-right">
              <span class="h5">{{ effort.duration_pretty }} </span><span> {{ effort.units.timeBig }}</span>
              <p>duration</p>
            </div>
            {% if effort.avg_hr %}
            <div class="col-6 col-md-3 text-right">
              <span class="h5">{{ effort.avg_hr|floatformat:"2" }} </span><span> {{ effort.units.heartrate }}</span>
              <p>avg. hr</p>
            </div>
            {% endif %}
          </div>

          <div class="row">
            <div class="col-6 col-md-3 text-right">
              
              {% if activity_type == 0 %}
                {% get_delta_symbol effort.diff_avg_speed_s 0 %}
                <span>{{ effort.diff_avg_speed_s_pretty }} </span><span> {{ effort.units.speed_s }} </span>
              {% else %}
                {% get_delta_symbol effort.diff_avg_speed 0 %}
                <span>{{ effort.diff_avg_speed_pretty }} </span><span> {{ effort.units.speed }} </span>
              {% endif %}
              
              <p>&Delta; avg. speed</p>

            </div>
            {% if effort.diff_last_speed %}
            <div class="col-6 col-md-3 text-right">

              
              {% if activity_type == 0 %}
                {% get_delta_symbol effort.diff_last_speed_s 0 %}
                <span>{{ effort.diff_last_speed_s_pretty }} </span><span> {{ effort.units.speed_s }} </span>
              {% else %}
                {% get_delta_symbol effort.diff_last_speed 0 %}
                <span>{{ effort.diff_last_speed_pretty }} </span><span> {{ effort.units.speed }} </span>
              {% endif %}

              <p>&Delta; last speed</p>
            </div>
            {% endif %}
            {% if effort.diff_avg_hr %}
            <div class="col-6 col-md-3 text-right">

              {% get_delta_symbol effort.diff_avg_hr 0 %}
              <span>{{ effort.diff_avg_hr|floatformat:"2" }} </span><span> {{ effort.units.heartrate }}</span>
              <p>&Delta; avg. hr</p>
            </div>
            {% endif %}

            {% if effort.diff_last_hr %}
            <div class="col-6 col-md-3 text-right">

              {% get_delta_symbol effort.diff_last_hr 0 %}
              <span>{{ effort.diff_last_hr|floatformat:"2" }} </span><span> {{ effort.units.heartrate }}</span>
              <p>&Delta; last hr</p>
            </div>
            {% endif %}

          </div>
        </div>

      
    <div class="text-right col-md-2">
      <span>
      {% if effort.average %}
          on average
          </br>
      {% endif %} 
      </span>
      <span class="h5">
      {% if effort.sort_value %} {{ effort.sort_value }} </span><span> {{ effort.sort_value_unit }} {% endif %}
      </span>
      <span>
      {% if effort.diff %} 
          </br>{{ effort.diff }} than 
          {% if effort.last %} 
              prev. effort
          {% elif effort.average %}
              activity avg.
          {% endif %} 
      {% endif %}
      
      </span>
    </div>
    </div>
  </div>
</li>
{% endfor %}
</ul>
</div>
<hr>

{% endblock %}
