{% block top_table %}

<div class="container">
    <ul class="list-group">    
    {% for effort in top %}
      <li class="list-group-item">
        <div class="container">
            <div class="row">
                <div class="col-md-lg-2 col-md-3">
                <a href="{{ effort.song__url}}/"><img src="{% if effort.song__image_url %}{{ effort.song__image_url }}{% else %}{{ effort.song__artist__image_url }}{% endif %}" class="rounded w-100" onerror="img_error(this);" alt="{{ effort.song__title }}"></a>
                </div>
                <div class="col-md-lg-10 col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <a href="/song/{{ effort.song }}/" class="h4">{{effort.song__title}}</a>
                        </div>
                        <div class="text-right col-md-2">
                            <span class="h5">
                            {% if effort.sort_value %} {{ effort.sort_value }} {{ effort.sort_value_unit }} {% endif %}
                            </span>
                            <span>efforts</span>
                        </div>
                    </div>
                    <div class="row">
                    
                    <div class="col-6 col-md-3 text-right">
                        {% if activity_type == 0 %}
                        <span class="h5">{{ effort.avg_speed_s }} {{ effort.units.speed_s }} </span>
                        {% else %}
                        <span class="h5">{{ effort.avg_speed }} {{ effort.units.speed }} </span>
                        {% endif %}
                        <p>avg. speed</p>
                    </div>
                    <div class="col-6 col-md-3 text-right">
                        <span class="h5"> {{ effort.distance }} {{ effort.units.distanceSmall }} </span>
                        <p>avg. distance</p>
                    </div>
                    <div class="col-6 col-md-3 text-right">
                        <span class="h5"> {{ effort.duration }} {{ effort.units.timeBig }}</span>
                        <p>avg. duration</p>
                    </div> 
                    </div>

                    <div class="row">
                        {% if effort.avg_watts %}
                        <div class="col-6 col-md-2 text-right">
                        <span>{{ effort.avg_watts|floatformat:"2" }} {{ effort.units.watts }}</span>
                        <p>avg. power</p>
                        </div>
                        {% endif %}
                        {% if effort.avg_cadence %}
                        <div class="col-6 col-md-2 text-right">
                        <span>{{ effort.avg_cadence|floatformat:"2" }} {{ effort.units.cadence }}</span>
                        <p>avg. cad.</p>
                        </div>
                        {% endif %}

                        <div class="col-6 col-md-2 text-right">
                        {% if effort.diff_avg_speed|add:"0" > "0" %}
                        <i class="fa fa-chevron-circle-up green_arrow"></i>
                        {% elif effort.diff_avg_speed|add:"0" < "0" %}
                        <i class="fa fa-chevron-circle-down red_arrow"></i>
                        {% else %}
                        <i class="blue_arrow">=</i>
                        {% endif %}


                        {% if activity_type == 0 %}
                        <span>{{ effort.diff_avg_speed_s }} {{ effort.units.speed_s }} </span>
                        {% else %}
                        <span>{{ effort.diff_avg_speed }} {{ effort.units.speed }} </span>
                        {% endif %}
                        <p>diff avg. speed</p>

                        </div>

                        <div class="col-6 col-md-2 text-right">
                        {% if effort.diff_last_speed|add:"0" > "0" %}
                        <i class="fa fa-chevron-circle-up green_arrow"></i>
                        {% elif effort.diff_last_speed|add:"0" < "0" %}
                        <i class="fa fa-chevron-circle-down red_arrow"></i>
                        {% else %}
                        <i class="blue_arrow">=</i>
                        {% endif %}

                        {% if activity_type == 0 %}
                        <span>{{ effort.diff_last_speed_s }} {{ effort.units.speed_s }} </span>
                        {% else %}
                        <span>{{ effort.diff_last_speed }} {{ effort.units.speed }} </span>
                        {% endif %}

                        <p>diff last speed</p>
                        </div>

                        {% if effort.avg_hr %}
                        <div class="col-6 col-md-2 text-right">
                        <span>{{ effort.avg_hr|floatformat:"2" }} {{ effort.units.heartrate }}</span>
                        <p>avg. hr</p>
                        </div>
                        {% endif %}

                        {% if effort.diff_avg_hr %}
                        <div class="col-6 col-md-2 text-right">
                        {% if effort.diff_avg_hr > 0 %}
                        <i class="fa fa-chevron-circle-up green_arrow"></i>
                        {% elif effort.diff_avg_hr < 0 %}
                        <i class="fa fa-chevron-circle-down red_arrow"></i>
                        {% else %}
                        <i class="blue_arrow">=</i>
                        {% endif %}

                        <span>{{ effort.diff_avg_hr|floatformat:"2" }} {{ effort.units.heartrate }}</span>
                        <p>diff avg. hr</p>
                        </div>
                        {% endif %}

                        {% if effort.diff_last_hr %}
                        <div class="col-6 col-md-2 text-right">

                        {% if effort.diff_last_hr > 0 %}
                        <i class="fa fa-chevron-circle-up green_arrow"></i>
                        {% elif effort.diff_last_hr < 0 %}
                        <i class="fa fa-chevron-circle-down red_arrow"></i>
                        {% else %}
                        <i class="blue_arrow">=</i>
                        {% endif %}

                        <span>{{ effort.diff_last_hr|floatformat:"2" }} {{ effort.units.heartrate }}</span>
                        <p>diff last hr</p>
                        </div>
                        {% endif %}

                    </div>  
                </div>

            </div>
        </div>
      </li>
    {% endfor %}
    </ul>
</div>
<hr>

{% endblock %}
